doctype html
html
  head
    link(rel='stylesheet' href='../node_modules/tachyons/css/tachyons.css')
  body
    h1 info for #{cd}
    div.stats
      h2 Basic Stats:
      p There are #{lots} lots
      p There are #{unitsres} residential units
    div.open-violations
      h2 Open HPD Violations
      p #{violationBuildings} buildings have open violations with a total of #{numberOfViolations} violations
      p An average of #{violationsPerUnit} violations per residential unit in the Borough
    div.recent-sales
      each sale in recentSales
        div.sale
          p address: #{sale.address}
          p price: #{sale.saleprice}
