doctype html
html
  head
    link(rel='stylesheet' href='./tachyons.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet") 
    link(rel='stylesheet' href='./styles.css')
  body
    div.title.tc.fl.w-100.pa2.bg-light-blue.bb.b--mid-gray
      h1.f1 #{district.name}
      h2.f3.navy #{district.neighborhoods}
    div.stats.fl.w-100.tc
      p.f3 
        span #{stats.lots} lots 
        span.pl5 #{stats.unitsres} residential units
    div.fl.w-100.open-violations.tc
      h2 Open HPD Violations
      p 
        | <span class="b">#{stats.buildingsWithOpenViolations}</span> buildings have open violations with a total of 
        | <span class="b">#{stats.totalNumberOfOpenViolations}</span> violations
      p <span class="b">#{stats.resBuildingsWithViolationsPct}</span> of all residential buildings in the district have at last one violation
      p There is an average of <span class="b">#{stats.openViolationsPerUnit} violations</span> per residential unit in the district

    div.fl.w-100.tc.pl5
      h2.tl Sales
      h5.tl New sales of stablized residential buildings
      table.w-100
        thead
          tr
            th BBL
            th Address
            th Residential Units
            th Sale Price
            th Price/GSF
            th Sale date
            th Owner
        tbody
        each sale in recentSales
          tr
            td #{sale.bbl}
            td #{sale.address}
            td #{sale.residentialunits}
            td #{sale.saleprice}
            td #{sale.ppgsf}
            td #{sale.iso_date}
            td #{sale.corpnames}
    div.fl.w-100.tc.pa5
      h2.tl HPD Violations
      h5.tl 
      table.w-100
        thead
          tr
            th BBL
            th Address
            th Class A Violations
            th Class B Violations
            th Class C Violations
            th Total Violations
        tbody
        each violation in hpdViolations
          tr
            td #{violation.bbl}
            td #{violation.address}
            td #{violation.class_a}
            td #{violation.class_b}
            td #{violation.class_c}
            td #{violation.total}    
    div.fl.w-100.tc.pl5
      h2.tl DOB Jobs
      h5.tl Stabilized buildings with new A1, A2, or DM DOB Permits filed
      table.w-100
        thead
          tr
            th BBL
            th Address
            th Residential Units     
            th Alt 1 Permits
            th Alt 2 Permits
            th Demolition Permits
            th Total
            th Owner
        tbody
        each job in dobjobs
          tr
            td #{job.bbl}
            td #{job.address}
            td #{job.residentialunits}
            td #{job.a1}
            td #{job.a2}
            td #{job.dm}
            td #{job.total}
            td #{job.corpnames}
    div.fl.w-100.tc.mb4
      a(href='/') Back
