doctype html
html
  head
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css')
  body
    h1 info for #{cd}
    div.stats
      h2 Basic Stats:
      p There are #{lots} lots
      p There are #{unitsres} residential units
    div.open-violations
      h2 Open HPD Violations
      p #{violationBuildings} buildings have open violations with a total of #{numberOfViolations} violations
      p #{resBuildingsWithViolationsPct} of all residential buildings in the district have at last one violation
      p there is an average of #{violationsPerUnit} violations per residential unit in the district
    div.recent-sales
      h2 Recent Sales
      each sale in recentSales
        div.sale
          p address: #{sale.address}
          p price: #{sale.saleprice}
    div.dob-jobs-nb
      h2 Recent Permit Applications for New Buildings
      each job in newBuildingJobs
        div.dob-job
          p address: #{job.address}
          p proposed stories: #{job.proposednoofstories}
          p existing stories: #{job.existingnoofstories}
